header{
    background-color: black;
    height: 100px;
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
}

.encabezado{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
    column-gap: 400px;
    row-gap: 25px;

}

.iconos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    row-gap: 10px;
}


body{
    margin: 0;
}

h1{
    color: red;
    justify-self: center;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 25px;
    row-gap: 25px;
    padding: 100px;
}


.caja{
    background-color: aliceblue;
}

.img2{
    height: 300px;
    width: auto;
}

footer{
    background-color: rgb(35, 35, 35);
    width: auto;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.copyright{
    height: 50px;
    background-color: black;
    color: white;
    justify-items: center;
}


.foot{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 25px;
    padding: 15px;
}


.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 20px;
    padding: 150px;
}

.formulario{
    max-width: 700px;
    width: 100%;
}
form{
    display: grid;

    width: 100%;
    row-gap: 20px;

}

button{
    background-color: rgb(6, 91, 209);
    color: white;
    border: none;
    border-radius: 5%;
    height: 50px;
    width: 100%;
}

input, textarea{
  width: 100%;          
  border: none;          
  border-bottom: 1px solid #999; 
  padding: 10px 5px;
  font-size: 16px;
  outline: none;
  background: transparent;
}

textarea{
    border: 1px solid #999;
}


.maps iframe{
    height: 100%;
    width: 100%;
}

.foot i{
   display: grid;
    place-items: center;

    background-color: gray;
    border-radius: 50%;

    width: 50px;
    height: 50px;
}

a{
  text-decoration: none;
  color: white;
}

.nav{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    column-gap: 15px;
}

