header{
    background-color: black;
    height: 100px;
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-around;
    column-gap: 400px;
    row-gap: 25px;
}


body{
    margin: 0;
}

h1{
    color: red;
    justify-self: center;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 25px;
    row-gap: 25px;
    padding: 100px;
}


.caja{
    background-color: aliceblue;
}

.img2{
    height: 300px;
    width: auto;
}

footer{
    background-color: black;
    height: 100px;
    width: auto;
}

body{
    font-family: 'Montserrat', sans-serif;
}
