header{
    background-color: black;
    height: 100px;
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
}

.encabezado{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
    column-gap: 400px;
    row-gap: 25px;

}

.iconos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    row-gap: 10px;
}


body{
    margin: 0;
}

h1{
    color: red;
    justify-self: center;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 25px;
    row-gap: 25px;
    padding: 100px;
}


.caja{
    background-color: aliceblue;
}

.img2{
    height: 300px;
    width: auto;
}

footer{
    background-color: rgb(35, 35, 35);
    height: 100px;
    width: auto;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.copyright{
    height: 50px;
    background-color: black;
    color: white;
    justify-items: center;
}


.contacto{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    column-gap: 25px;
    padding: 20px;
}


